body {
    border: 0px;
    margin: 0px;
    max-width: 100%;
    /* max-width */

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}



.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.button {
    font: inherit;
    font-weight: 700;
    
    text-align: center;
    color: white;
    text-transform: uppercase;

    border: 0;
    background-color: black;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.main_header {
 
}

.main_navigation {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    align-items: center;
}

.main-header-logo {
    height: 155px;
    width: 371px;
    order: 1;
}

.main_navigation_wrapper {
    width: 100%;
    margin-bottom: 50px;
    background-color: black;
}

.container {
    width: 940px; /*это размер ширины контента на странице*/
    margin: 0 auto;
}

.main_navigation .container {
    display: flex;
    justify-content: space-between;
}

.site_navigation,
.user_navigation {
    list-style: none;
    color: #ffffff;

}

.site_navigation a,
.user_navigation a {
   color: #ffffff;
}



.site_navigation a:hover,
.site_navigatio a:focus
.user_navigation a:hover,
.user_navigation a:focus {
    outline: 0;              
    background-color: #242424;
}

.user_navigation li::before{
    content: url(../img/enter_logo.svg);
}


.advantages_list {
    display: flex;
    margin-bottom: 84px;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.advantages_list h3 {
    font-size: 30px;
    line-height: 42px;
}

.advantages_item {
    width: 291px;
    font-size: 14px;
}

.index_section {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;
    padding: 50px 80px;
   
    background-color: grey;
    background-image: url(../img/backround.png);
    background-position: 0 0;
    background-repeat: repeat;

    color: black;
}

.index_section h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
}

.index_section li{
    list-style: none;
}


.news{
    width: 350px;
    list-style: none;
}

.news ul ,
.news h2 {
    padding: 0;

}

.news time {
    text-transform: none;
}

.gallery{
    width: 300px;
}

.gallery figure{
    border: 7px;
    background-color: #e5e5e5;
}

.contacts {
    width: 325px;
} 

.contacts a {
    color: #000;
}

.appointment_item {
    width: 300px;
}

.appointment_item input {
    font:inherit;
    background-color: transparent;
    border: 2px solid black;
}

.main_footer {
    background-color: #222222;
    background-image: url(../img/background_footer.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    color: #fff;
}

.main_footer li{
    list-style: none;
}

.main_footer a{
    list-style: none;
    color: white;
}

.footer_contacts a {
    text-decoration: underline;
}

.footer_contacts a:hover,
.footer_contacts a:focus {
    text-decoration: none;
}

.main_footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_social {
    text-align: center;
    margin-left: 80px;
    margin-right: 250px;
    text-align: center;
}

 
.footer_copyright {
}

.footer_copyright .button:hover,
.footer_copyright .button:focus {
    background-color: #fff;
    color: #000;
}

.modal {
    background-color: f8f5f2;
    background-image: url(../img/backround.png);
    background-position:0 0;
    background-repeat: repeat;

    color: black;
}

.modal a {
    color: #000;
}

.login_form input  {
    font: inherit;
    text-transform: uppercase;
    color:#000;
    background-color: #f9f6f3;
    border: 3px solid #000;
}

.login_checkbox:hover,
.login_checkbox:focus {
    color: #663d15;
}

.remember_password a {
    text-decoration: underline;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.map {
    border: 7px solid white;
    width: 766px;
    height: 560px;
}

.index_section {
    background-color: grey;
    background-image: url(../img/backround.png);
    background-position: 0 0;
    background-repeat: repeat;

    color: black;
}

.good {
    background-color: grey;
    background-image: url(../img/backround.png);
    background-position: 0 0;
    background-repeat: repeat;

    color: black;
}

.good_price {
    background-color: #e5e5e5;
}

.good_compose li {
    list-style-type: square;
}

.good_options h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.good_options .aricle {
    color: rgb(174, 174, 174);
}